<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/PUS/IdeaProjects/timur_test_project">
        <classes>
            <class name="unit_tests.TestCircle">
                <methods>
                    <include name="testGetAreaCircle"/>
                    <include name="testGetUsersNameCircle"/>
                    <include name="testToStringCircle"/>
                </methods>
            </class>
            <class name="unit_tests.TestSquare">
                <methods>
                    <include name="testGetAreaSquare"/>
                    <include name="testGetUsersNameSquare"/>
                    <include name="testToStringSquare"/>
                </methods>
            </class>
            <class name="unit_tests.TestTriangle">
                <methods>
                    <include name="testGetAreaTriangle"/>
                    <include name="testGetUsersNameTriangle"/>
                    <include name="testToStringTriangle"/>
                    <include name="testGetAnglesTriangle"/>
                </methods>
            </class>
            <class name="unit_tests.TestRectangle">
                <methods>
                    <include name="testGetAreaRectangle"/>
                    <include name="testGetUsersNameRectangle"/>
                    <include name="testToStringRectangle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>